<ul class="nav masthead-nav" bs-nav>
  <li ng-class="{active: $path() == '/'}"><a ui-sref="slide1" id="Site-Brand"><i class="fa fa-2x fa-anchor hidden-xs"></i> <span class="">Enactus Unical</span></a></li>
  <li ng-class="{active: $path() == '/unical'}"><a ui-sref="slide2"><i class="fa fa-2x fa-users"></i> <span class="hidden-xs">About Us</span></a></li>
  <li ng-class="{active: $path() == '/join'}"><a ui-sref="slide3"><i class="fa fa-2x fa-plus"></i> <span class="hidden-xs">Join Us</span></a></li>
  <!--<li ng-class="{active: $path() == '/contact'}"><a ui-sref="slide5">Lets Go</a></li>-->
  <!--<li ng-class="{active: $path() == '/contact'}"><a ui-sref="slide6">Cashless Campus</a></li>-->
</ul>

