<ul class="nav masthead-nav" bs-nav>
  <li ng-class="{active: $path() == '/'}"><a ui-sref="slide1" id="Site-Brand"><i class="fa fa-2x fa-anchor hidden-xs"></i> <span class="">Enactus Unical</span></a></li>
  <li ng-class="{active: $path() == '/unical'}"><a ui-sref="slide2"><i class="fa fa-2x fa-users"></i> <span class="hidden-xs">About Us</span></a></li>
  <li ng-class="{active: $path() == '/join'}"><a ui-sref="slide3"><i class="fa fa-2x fa-plus"></i> <span class="hidden-xs">Join Us</span></a></li>
  <li style="background-color:#35465c"><a href="http://enactusunical.tumblr.com" target="_blank"><i class="fa fa-2x fa-tumblr-square"></i> <span class="hidden-xs">Blog</span></a></li>
  <li style="background-color:#517fa4;" ><a href="http://instagram.com/enactus_unical" target="_blank"><i class="fa fa-2x fa-instagram"></i> <span class="hidden-xs">Instagram</span></a></li>
  <li style="background-color:#3b5998;"><a href="https://www.facebook.com/pages/Enactus-unical/308314359319260" target="_blank"><i class="fa fa-2x fa-facebook"></i> <span class="hidden-xs">Facebook</span></a></li>
  <div style="clear:both"></div>
</ul>

