<div>
  <h2>Our workflow  is simple:</h2>
  <ul>
    <li>Identify a need</li>
    <li>Brain storm and come up with a solution to the need</li>
    <li>Contact any needed partners </li>
    <li>Execute the project</li>
    <li>Monitor and Evaluate the growth </li>
  </ul>
  <p class="lead" style="color:#fff">In Enactus Unical, we have expeerienced the strength of common individuals. We have realised that when we come together to execute projects, we accomplish more than what even the government can. Our success stories strenghten us to solve more needs. </p>
</div>