<div class="about-enactuscal">
  <div class="about-enactuscal-overlay">
    <img src="http://enactuscal.iriscouch.com/enactuscal/521281b51cd66abee9bd4185cf000ba8/enactus_FULL_white.svg" />
    <div role="navigation" class="about-enactuscal-nav">
      <h2>ENACTUS UNICAL MIGHT BE EMPOWERING A LIFE CLOSE TO YOU</h2>
      <ul bs-nav>
        <li><a ui-sref="slide2.who"><i class="fa fa-question"></i> Who we are?</a>  </li>
        <li><a ui-sref="slide2.what"><i class="fa fa-wrench"></i> What we do?</a>  </li>
      </ul>
    </div>
    <div ui-view class="about-enactuscal-view">
      
      <div>
      <h2>Enactus Unical is just one enactus team amongst the various enactus teams in:</h2>
        <h3>1,600 College & Universities</h3>in <h3>115 Countries worldwide</h3>
      
      <h2>We are in the business of Empowering our community</h2>
      
      <div class="lead" style="color:#fff">In Enactus Unical, our team consists of <span>A Faculty Officer</span>, <span>Our Alumni</span>, <span>Our Business Advisory board members</span>, and <span>the Students</span> who dedicate their time to empowering the society, while indirectly empowering themselves through the skills and experience they acquire in the process.</div>
    </div>

    </div>
  </div>
</div>