<div class="home-slider">
  <div class="slide-home">
    <div class="slide-home-description">
        
        <h2 class="light" style="font-size:6rem;">Life is only as good as we make it</h2>
        <p class="light">Enactus Unical is that organization of students and the General public, who want to make life not just good for themselves, but the whole world, by solving problems/needs around...</p>
        <span>JOIN US: </span><button class="btn btn-lg btn-info">Student</button>
        <button class="btn btn-lg btn-success">Business Advisory Board</button>
      </div>
  </div>
</div>