<div class="join-enactuscal">
  <div class="join-enactuscal-overlay">
    <img src="http://enactuscal.iriscouch.com/enactuscal/521281b51cd66abee9bd4185cf000ba8/enactus_FULL_white.svg" />
    <div role="navigation" class="join-enactuscal-nav">
      <h2>JOINING ENACTUS UNICAL WOULD GIVE YOU AN OPPORTUNITY TO IMPACT LIFES</h2>
      <ul bs-nav>
        <li><a ui-sref="slide3.student"><i class="fa fa-book"></i> Student</a>  </li>
        <li><a ui-sref="slide3.bab"><i class="fa fa-suitcase"></i> Business Advisory Board</a>  </li>
      </ul>
    </div>
    <div ui-view class="join-enactuscal-view">
      <div>
          <h2>Want to step outside of your <strong>text books</strong> to actually excecute <strong>projects</strong> in the <strong>real world</strong>? While even <strong>learning</strong> more and improving your <strong>skills</strong>?</h2>
          <div>
           <br/>
        <strong>It's Exciting.</strong> Enactus projects offer a variety of opportunities to explore while impacting lives.<br/>
        <br/>
        
        <strong>Leadership Skills.</strong> From leading a project, managing team resources, to simply sharing your ideas.<br/><br/>
        
        <strong>It looks great on your CV.</strong> The lives you empower speak for themselves.<br/><br/>
        
        <strong>Friends.</strong> prepare to make friends and contacts who will be there for you after university.
          </div>
          
          <a scroll-to="join" class="btn btn-lg btn-danger"><i class="fa fa-plus"></i>  Join our  team</a>
        </div>
    </div>
  </div>
</div>