<div>
  <h2>Want to be there when we need help and advice from the older population? <small>Thank you</small></h2><br/>
 <div>
   It is difficult, if not impossible, for any one; business, individual or organization, to achieve great success without advice from more <strong>experienced</strong> individuals.<br/><br/>
  <div>As a Business Advisory board member, you would be in the core team, which our Enactus group looks up to for <strong>advice</strong> on our projects.<br/>
    You would have the benefit of <strong>networking</strong> with other BAB members, who are top academic and business leaders in our society, especially at BAB member <strong>meetups</strong>, organised <strong>once</strong> every semester, as well as other major <strong>events</strong>.
  </div>
 </div>
  <a scroll-to="join" ng-click="scrollto(join)" class="btn btn-lg btn-info"><i class="fa fa-plus"></i>  Join our BAB team</a>
</div>